worker_processes 2;

events {
	worker_connections 1024;
}

http {
	upstream myserver {
		server {{ server_ip }}:{{ server_port }};
	}

	server {
		listen {{ http_port }};
		server_name {{ nginx_server_name }};
		access_log /var/log/nginx/access.log;
		
		location / {
			proxy_pass http://myserver;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			}
		}
	}
